 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center padding-bottom">
                    <h2>About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-2">
                    <p>growltiger is a dj in minneapolis specializing
                      in psychedelic dance music. combining live looping and remixes
                      with a specially curated mix of tunes, he gets butts moving and
                      faces melting. sometimes he plays an electronic sax.</p>
                </div>
                <div class="col-lg-4">
                    <ul><li>birthday parties</li><li>warehouse parties</li><li>outdoor parties</li><li>indoor parties</li><li>your party</li></ul></p>
                </div>
            </div>
        </div>
    </section>
