 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="djset-modal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.description }}</p>
                            {% if post.download_link %}
                                <p> Download: <a href="{{post.download_link}}">{{ post.download_link }}</a></p>
                            {% endif %}
                            {% if post.mixcloud_url %}
                                <div class="less-fancy-video-header">
                                    <iframe width = "100%"
                                        class="mixcloud-embed"
                                        src="{{post.mixcloud_url}}"
                                        frameborder="0"
                                        allowfullscreen="true"
                                    ></iframe>
                                </div>
                            {% endif %}
                            {{ post.category }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}