
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center padding-bottom">
                    <h2>DJ SETS</h2>
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 songs">
                        <a href="#djset-modal-{{ post.modal-id }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
                            <img src="{{ post.img | prepend: 'portfolio/' | asset_path }}" class="set-img img-responsive" id="{{ post.image_id }}" alt="{{ post.alt }}">
                        </a>
                        <div class="set-title" style="font-size:.8em">{{post.title}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>