 <!-- About Section -->
    <!-- <section class="success live" id="live">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center padding-bottom">
                    <h2>Live</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <ul><li>Sunday, June 14th<br>11am - 1pm<br><a href="https://www.facebook.com/events/923137897749806/">Dance Church @ Tapestry</a></ul></p>
                </div>
                <div class="col-lg-4">
                    <ul><li>Saturday, June 20<br>nighttime<br>Private Party</ul></p>
                </div>
                <div class="col-lg-4">
                    <ul><li>Friday, June 26 - Saturday, June 27<br>TBA<br><a href="http://www.ttatc.com/">TTATC</a></ul></p>
                </div>
            </div>
        </div>
    </section> -->
