 <!-- About Section -->
    <section class="success live" id="live">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center padding-bottom">
                    <h2>Live</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 .col-lg-offset-2">
                    <ul><li>Sunday, February 28<br>11am - 1pm<br>Dance Church @ Tapestry</ul></p>
                </div>
                <div class="col-lg-6 .col-lg-offset-2">
                    <ul><li>Saturday, March 26<br>10pm-4am<br>Zoofari @ the RabbitHole</ul></p>
                </div>
            </div>
        </div>
    </section>
